<div class="row mt-3">
    <div class="col-md-12">
        <!-- -->
        <div class="card">
            <div class="card-body">
                <div><h5>Educational Details</h5><hr/></div>
                <div class="row">
                    <div class="col-md-12">
                        <button type="button" class="btn btn-primary fs14 float-end ms-2" 
                            onclick="javascript:form_addNew_educationQualification();"><b>
                                <i class="fa fa-plus-circle" aria-hidden="true"></i> Add Educational Details</b></button>
                    </div><!--/.col-md-12 -->
                </div><!--/.row -->
                <!--/. -->
                <div id="academic-records">
                    <div id="academic-record-1"></div>
                </div>
            </div>
        </div>
        <!-- -->
    </div>
</div><!--/.row -->