<script>
function loadUI_edu_courseName(index){
 let content='<div class="col-md-4">';
    content+='<!-- Degree & Major -->';
    content+='<div class="mb-3 mt-3">';
    content+='<div for="createProfile_eduDetails_courseName'+index+'" class="form-label">';
    content+='<b>Course:</b>';
    content+='<span class="font-red fs12 mt3p float-end"><i>[Required Field]</i></span>';
    content+='</div>';
    content+='<input type="text" class="form-control" id="createProfile_eduDetails_courseName'+index+'" ';
    content+='placeholder="e.g. B.Tech in Computer Science & Engineering">';
    content+='</div>';
    content+='</div><!--/.col-md-4 -->';
 return content;
}
function loadUI_edu_schoolCollegeName(index){
 let content='<div class="col-md-4">';
    content+='<!-- University / College Name -->';
    content+='<div class="mb-3 mt-3">';
    content+='<div for="createProfile_eduDetails_collegeName'+index+'" class="form-label">';
    content+='<b>School / College Name:</b>';
    content+='<span class="font-red fs12 mt3p float-end"><i>[Required Field]</i></span>';
    content+='</div>';
    content+='<input type="text" class="form-control" id="createProfile_eduDetails_collegeName'+index+'" ';
    content+=' placeholder="e.g. Jawaharlal Nehru Technological University, Hyderabad">';
    content+='</div>';
    content+='</div><!--/.col-md-4 -->';
 return content;
}
function loadUI_edu_location(index){
 let content='<div class="col-md-4">';
    content+='<!-- Location -->';
    content+='<div class="mb-3 mt-3">';
    content+='<div for="createProfile_eduDetails_location'+index+'" class="form-label">';
    content+='<b>Location:</b>';
    content+='<span class="font-red fs12 mt3p float-end"><i>[Required Field]</i></span>';
    content+='</div>';
    content+='<input type="text" class="form-control" id="createProfile_eduDetails_location'+index+'" ';
    content+=' placeholder="e.g. Hyderabad">';
    content+='</div>';
    content+='</div><!--/.col-md-4 -->';
 return content;
}
function loadUI_edu_country(index){
 let content='<div class="col-md-4">';
    content+='<!-- Location -->';
    content+='<div class="mb-3 mt-3">';
    content+='<div for="createProfile_eduDetails_country'+index+'" class="form-label">';
    content+='<b>Country:</b>';
    content+='<span class="font-red fs12 mt3p float-end"><i>[Required Field]</i></span>';
    content+='</div>';
    content+='<input type="text" class="form-control" id="createProfile_eduDetails_country'+index+'" ';
    content+=' placeholder="e.g. India">';
    content+='</div>';
    content+='</div><!--/.col-md-4 -->';
 return content;
}
function loadUI_edu_yearsOfPassing(index){
 let content='<div class="col-md-4">';
    content+='<!-- Year of Passing -->';
    content+='<div class="mb-3 mt-3">';
    content+='<div for="createProfile_eduDetails_yearOfPassing'+index+'" class="form-label">';
    content+='<b>Year of Passing:</b>';
    content+='<span class="font-red fs12 mt3p float-end"><i>[Required Field]</i></span>';
    content+='</div>';
    content+='<div class="row">';
    content+='<div class="col">';
    content+='<input type="text" class="form-control" id="createProfile_eduDetails_yearOfPassing'+index+'_from" placeholder="From (e.g. 2010)">';
    content+='</div>';
    content+='<div class="col">';
    content+='<input type="text" class="form-control" id="createProfile_eduDetails_yearOfPassing'+index+'_to" placeholder="To (e.g. 2014)">';
    content+='</div>';
    content+='</div>';
    content+='</div>';
    content+='</div><!--/.col-md-4 -->';
 return content;
}
function loadUI_percentageCGPA(index){
 let content='<div class="col-md-4">';
    content+='<!-- Percentage / CGPA -->';
    content+='<div class="mb-3 mt-3">';
    content+='<div for="createProfile_eduDetails_percentage'+index+'" class="form-label">';
    content+='<b>Percentage / CGPA:</b>';
    content+='<span class="font-gray fs12 mt3p float-end"><i>[Optional]</i></span>';
    content+='</div>';
    content+='<input type="text" class="form-control" id="createProfile_eduDetails_percentage'+index+'" ';
    content+='placeholder="e.g. 8.1/10 or 78%">';
    content+='</div>';
    content+='</div><!--/.col-md-4 -->';
 return content;
}
function loadUI_edu_relevantAchievement(index) {
 let content='<div class="col-md-12">';
    content+='<!-- Relevant Achievements -->';
    content+='<div class="mb-3 mt-3">';
    content+='<div for="createProfile_eduDetails_achievements'+index+'" class="form-label">';
    content+='<b>Relevant Achievements:</b>';
    content+='<span class="font-gray fs12 mt3p float-end"><i>[Optional]</i></span>';
    content+='</div>';
    content+='<textarea class="form-control" id="createProfile_eduDetails_achievements'+index+'" rows="4" ';
    content+='placeholder="e.g. Top 5% of class, Gold Medalist"></textarea>';
    content+='</div>';
    content+='</div><!--/.col-md-12 -->';
 return content;
}
let ACADEMIC_RECORD_INDEX = 1;
function loadUI_new_educationQualification(id) {
 let content='<div>';
    content+='<div class="mt-3" style="border:2px dashed #ccc;padding:15px;">';
    content+='<!-- -->';
    content+='<div class="row">';
    content+='<div class="col-md-12">';
    content+='<h5>ACADEMIC RECORD #'+ACADEMIC_RECORD_INDEX;
    if(ACADEMIC_RECORD_INDEX>1){
    content+='<span class="float-end curpoint">';
    content+='<i class="fa fa-minus-circle" aria-hidden="true" ';
    content+='onclick="javascript:form_confirmDelete_educationQualification('+ACADEMIC_RECORD_INDEX+');"></i>';
    content+='</span>';
    }
    content+='</h5><hr/>';
    content+='</div><!--/.col-md-12 -->';
    content+='</div><!--/.row -->';
    content+='<div class="row">';
    content+=loadUI_edu_courseName(ACADEMIC_RECORD_INDEX);
    content+=loadUI_edu_schoolCollegeName(ACADEMIC_RECORD_INDEX);
    content+=loadUI_edu_location(ACADEMIC_RECORD_INDEX);
    content+='</div><!--/.row -->';
    content+='<div class="row">';
    content+=loadUI_edu_country(ACADEMIC_RECORD_INDEX);
    content+=loadUI_edu_yearsOfPassing(ACADEMIC_RECORD_INDEX);
    content+=loadUI_percentageCGPA(ACADEMIC_RECORD_INDEX);
    content+='</div><!--/.row -->';
    content+='<div class="row">';
    content+=loadUI_edu_relevantAchievement(ACADEMIC_RECORD_INDEX);
    content+='</div><!--/.row -->';
    content+='</div>';
    content+='</div>';
    // content+='<div id="academic-record-'+(ACADEMIC_RECORD_INDEX+1)+'"></div>';
 document.getElementById(id).innerHTML = content;
 const newRecord = document.createElement('div');
    newRecord.id = 'academic-record-' + (ACADEMIC_RECORD_INDEX+1);
 const container = document.getElementById('academic-records');
    container.appendChild(newRecord);
}
function form_addNew_educationQualification(){
 ACADEMIC_RECORD_INDEX++;
 loadUI_new_educationQualification('academic-record-'+ACADEMIC_RECORD_INDEX);
}
function form_confirmDelete_educationQualification(index){
 const modalId = 'createProfile-display-modal';
 const heading = 'Delete Notification';
 let body='<div align="center" >';
    body+='<div><b>Are you sure to delete this ACADEMIC RECORD #'+index+'?</b></div>';
    body+='<div class="mt-2 btn-group btn-group-sm">';
    body+='<button type="button" class="btn btn-success" ';
    body+='onclick="javascript:form_remove_educationQualification('+index+');">Yes</button>';
    body+='<button type="button" class="btn btn-danger">No</button>';
    body+='</div>';
 load_modal(modalId, heading, body);
 open_modal(modalId);
}
function form_remove_educationQualification(index){
  console.log('academic-record-'+index);
  document.getElementById('academic-record-'+index).innerHTML = '';
}
$(document).ready(function(){
 loadUI_new_educationQualification('academic-record-1');
});
</script>
<div class="row mt-3">
    <div class="col-md-12">
        <!-- -->
        <div class="card">
            <div class="card-body">
                <div><h5>Educational Details</h5><hr/></div>
                <div class="row">
                    <div class="col-md-12">
                        <button type="button" class="btn btn-primary fs14 float-end ms-2" 
                            onclick="javascript:form_addNew_educationQualification();"><b>
                                <i class="fa fa-plus-circle" aria-hidden="true"></i> Add Educational Details</b></button>
                    </div><!--/.col-md-12 -->
                </div><!--/.row -->
                <!--/. -->
                <div id="academic-records">
                    <div id="academic-record-1"></div>
                </div>
            </div>
        </div>
        <!-- -->
    </div>
</div><!--/.row -->