<div class="row">
<div class="col-md-12">
<div class="card">
    <div class="card-body app-details-form">
        <div><h5>Employment Details</h5><hr/></div>

        <div class="row">
                    <div class="col-md-12">
                        <button type="button" class="btn btn-primary fs14 float-end ms-2"><b>
                                <i class="fa fa-plus-circle" aria-hidden="true"></i> Add Employer's Details</b></button>
                    </div><!--/.col-md-12 -->
        </div><!--/.row -->

        <div class="mt-3" style="border:2px dashed #ccc;padding:15px;">
        <div class="row">
            <div class="col-md-12">
                <h5>EMPLOYER RECORD #1
                    <span class="float-end curpoint">
                        <i class="fa fa-minus-circle" aria-hidden="true"></i>
                    </span>
                </h5><hr/>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-6">
                <!-- -->
                <div id="createProfiles_form_alert" class="mb-3"></div> 
                <div class="mb-3">
                    <div for="createProfile_empDetails_companyName" class="form-label"><b>Company Name:</b>
                        <span class="font-red fs12 mt3p float-end"><i>[Required Field]</i></span> 
                    </div>
                    <input type="text" class="form-control" id="createProfile_empDetails_companyName" placeholder="Enter Company Name">
                </div>
                <!-- -->
            </div><!--/.col-md-6 -->
            <div class="col-md-3">
                <!-- -->
                <div class="mb-3">
                    <div for="createProfile_empDetails_location" class="form-label"><b>Location:</b>
                        <span class="font-red fs12 mt3p float-end"><i>[Required Field]</i></span> 
                    </div>
                    <input type="text" class="form-control" id="createProfile_empDetails_location" placeholder="Enter Location">
                </div>
                <!-- -->
            </div><!--/.col-md-3 -->
            <div class="col-md-3">
                <!-- -->
                <div class="mb-3">
                    <div for="createProfile_empDetails_country" class="form-label"><b>Country:</b>
                        <span class="font-red fs12 mt3p float-end"><i>[Required Field]</i></span> 
                    </div>
                    <input type="text" class="form-control" id="createProfile_empDetails_country" placeholder="Enter Country">
                </div>
                <!-- -->
            </div><!--/.col-md-3 -->
        </div><!--/.row -->

        <div class="row">
            <div class="col-md-6">
                <!-- -->
                <div id="createProfiles_form_alert" class="mb-3 mt-3"></div> 
                <div class="mb-3 mt-3">
                    <div for="createProfile_empDetails_jobTitleRole" class="form-label"><b>Job Title / Role:</b>
                        <span class="font-red fs12 mt3p float-end"><i>[Required Field]</i></span> 
                    </div>
                    <input type="text" class="form-control" id="createProfile_empDetails_jobTitleRole" placeholder="Enter Job Title / Role">
                </div>
                <!-- -->
            </div><!--/.col-md-6 -->
            <div class="col-md-3">
                <!-- -->
                <div class="mb-3 mt-3">
                    <div for="createProfile_empDetails_from" class="form-label"><b>From:</b>
                        <span class="font-red fs12 mt3p float-end"><i>[Required Field]</i></span> 
                    </div>
                    <input type="date" class="form-control" id="createProfile_empDetails_from" placeholder="Enter From">
                </div>
                <!-- -->
            </div><!--/.col-md-3 -->
            <div class="col-md-3">
                <!-- -->
                <div class="mb-3 mt-3">
                    <div for="createProfile_empDetails_to" class="form-label"><b>To:</b>
                        <span class="font-red fs12 mt3p float-end"><i>[Required Field]</i></span> 
                    </div>
                    <input type="date" class="form-control" id="createProfile_empDetails_to" placeholder="Enter To">
                </div>
                <!-- -->
            </div><!--/.col-md-3 -->
        </div><!--/.row -->

        <div class="row">
            <div class="col-md-3">
                <!-- -->
                <div class="mb-3 mt-3">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="createProfile_empDetails_currentWorking" 
                            style="width:25px;height:25px;cursor:pointer;">
                        <label class="form-check-label" for="createProfile_empDetails_currentWorking" 
                            style="padding-top:5px;padding-left:5px;">Currently Working</label>
                    </div>
                </div>
                <!-- -->
            </div>
        </div><!--/.row -->

        <div class="row">
            <div class="col-md-12">
                <!-- -->
                <div class="mb-3 mt-3">
                    <label for="createProfile_empDetails_responsibilities" class="form-label"><b>Key Responsibilities</b></label>
                    <textarea class="form-control" id="createProfile_empDetails_responsibilities" rows="4"
                        placeholder="List major tasks and responsibilities"></textarea>
                </div>
                <!-- -->
            </div><!--/.col-md-3 -->
        </div><!--/.row -->

        <div class="row">
            <div class="col-md-12">
                <!-- -->
                <div class="mb-3 mt-3">
                    <label for="createProfile_empDetails_achievements" class="form-label"><b>Key Achievements</b></label>
                    <textarea class="form-control" id="createProfile_empDetails_achievements" rows="4"
                        placeholder="e.g. Improved API response time by 40%"></textarea>
                </div>
                <!-- -->
            </div><!--/.col-md-3 -->
        </div><!--/.row -->

        <div class="row">
            <div class="col-md-12">
                <!-- -->
                <div class="mb-3 mt-3">
                    <label for="createProfile_empDetails_tech" class="form-label"><b>Tech Stack / Tools</b></label>
                    <textarea type="text" class="form-control" id="createProfile_empDetails_tech" rows="4"
                        placeholder="e.g. React, Node.js, AWS, Docker"></textarea>
                </div>
                <!-- -->
            </div><!--/.col-md-3 -->
        </div><!--/.row -->

        </div>
    </div><!--/.card-body-->
</div><!--/.card -->
</div><!--/.col-md-12-->
</div><!--/.row-->