<div class="row">
<div class="col-md-12">
<div class="card">
    <div class="card-body app-details-form">
        <div><h5>Employment Details</h5><hr/></div>
        <div class="row">
            <div class="col-md-12">
                <button type="button" class="btn btn-primary fs14 float-end ms-2" onclick="javascript:form_addNew_employerDetails();"><b>
                    <i class="fa fa-plus-circle" aria-hidden="true"></i> Add Employer's Details</b></button>
            </div><!--/.col-md-12 -->
        </div><!--/.row -->

        <div id="employers-records">
            <div id="employers-record-1"></div>
        </div>
    </div><!--/.card-body-->
</div><!--/.card -->
</div><!--/.col-md-12-->
</div><!--/.row-->