<div class="row">
<div class="col-md-12">
<div class="card">
    <div class="card-body app-details-form">
        <div><h5>Personal Details</h5><hr/></div>
        <div class="row">
            <div class="col-md-12">
                <div id="createProfiles_form_alert" class="mb-1 mt-1"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <!-- -->
                <div class="mb-3 mt-1">
                    <div for="createProfiles_personalDetails_name" class="form-label"><b>Name:</b>
                        <span class="font-red fs12 mt3p float-end"><i>[Required Field]</i></span> 
                    </div>
                    <input type="text" class="form-control" id="createProfile_personalDetails_name" placeholder="Enter your Name">
                </div>
                <!-- -->
            </div><!--/.col-md-4 -->
            <div class="col-md-4">
                <div class="mb-3 mt-1">
                    <div for="createProfile_personalDetails_email" class="form-label"><b>Email:</b>
                        <span class="font-red fs12 mt3p float-end"><i>[Required Field]</i></span> 
                    </div>
                    <input type="text" class="form-control" id="createProfile_personalDetails_email" placeholder="Enter your Email">
                </div>
            </div><!--/.col-md-4 -->
            <div class="col-md-4">
                <div class="mb-3 mt-1">
                    <div for="createProfile_personalDetails_country" class="form-label"><b>Country:</b>
                        <span class="font-red fs12 mt3p float-end"><i>[Required Field]</i></span> 
                    </div>
                    <select class="form-select" id="createProfile_personalDetails_country" onchange="javascript:load_states_list('createProfile_personalDetails')"></select>
                </div>
            </div><!--/.col-md-4 -->
        </div><!--/.row -->
        <div id="createProfile_personalDetails_states_module">
            <div class="row">
                <div class="col-md-4">
                    <div class="mb-3 mt-3">
                        <div for="createProfile_personalDetails_state" class="form-label"><b>State:</b>
                            <span class="font-red fs12 mt3p float-end"><i>[Required Field]</i></span> 
                        </div>
                        <select class="form-select" id="createProfile_personalDetails_state"></select>
                    </div>
                </div><!--/.col-md-4 -->
                <div class="col-md-4">
                    <div class="mb-3 mt-3">
                        <div for="createProfile_personalDetails_mobile" class="form-label"><b>Mobile:</b> <span class="font-red fs12 mt3p float-end"><i>[Required Field]</i></span></div>
                        <div class="input-group">
                            <span class="input-group-text" id="createProfile_personalDetails_mobile_index"></span>
                            <input type="tel" class="form-control" id="createProfile_personalDetails_mobile" 
                                oninput="this.value = this.value.replace(/[^0-9]/g,'');" 
                                placeholder="Enter your Mobile Number">
                        </div>
                    </div>
                </div><!--/.col-md-4 -->
            </div><!--/.row -->
        </div>
    </div><!--/.card-body -->
</div><!--/.card -->
</div><!--/.col-md-12 -->
</div><!--/.row -->